# Gemini API Key
GEMINI_API_KEY=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=

# SMTP Gmail Configuration (untuk email konfirmasi)
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
